<h1><%= @user.username %>'s Profile</h1>

<% @user.tweets.each do |tweet| %>
  <%= tweet.message %> <br />
<% end %>

<%= link_to "Unfollow", relationship_path(current_user.relationships.find_by_friend_id(@user.id)), :method => :delete %>
<%= link_to 'Follow', relationships_path(friend_id: @user.id), method: :post %>
